@using OneSoccer.core.Entidades
@model List<Arbitro>


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Arbitros</h1>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panle-body">
                        <div class="table-responsive">


                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Pais</th>
                                            <th>Edad</th>
                                            <th>Posicion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Arbitro a in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @a.nombrecom
                                                </td>
                                                <td>
                                                    @a.nacionalidad
                                                </td>
                                                <td>
                                                    @a.edad
                                                </td>
                                                <td>
                                                    @a.posicion
                                                </td>
                                                
                                                <td>
                                                    <a href="@Url.Action("Registro","Arbitro", new { id = a.id})" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                                    <a href="@Url.Action("Eliminar","Arbitro", new { id = l.id})" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>



                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>