@using OneSoccer.core.Entidades
@model List<Equipo>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Equipos de liga</h1>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panle-body">
                        <a href="@Url.Action("Registro","Equipo", new { id = 0})" class="btn btn-primary">Agregar nuevo</a>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Estadio</th>
                                        <th>Pais</th>
                                        <th>Entrenador</th>
                                        <th>Presidente</th>
                                      
                                        <th>Jugadores</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Equipo e in Model)
                                    {

                                        <tr>
                                            <td>
                                                @e.nombre
                                            </td>
                                            <td>
                                                @e.estadio
                                            </td>
                                            <td>
                                                @e.pais
                                            </td>
                                            <td>
                                                @e.entrenador
                                            </td>
                                            <td>
                                                @e.presidente
                                            </td>
                                           
                                            <td>
                                                <a href="@Url.Action("VerJugadores", "Jugadores")/@e.id"> Ver Jugadores</a>
                                            </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
