using OneSoccer.core.Entidades
@model OneSoccer.core.Entidades.Equipo


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Registro de equipo</h1>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Registro
                    </div>
                    <div class="panel-body">

                        <form action="@Url.Action("Guardar","Equipo")">
                            <input type="hidden" class="form-control" name="id" value="@Model.id">
                            <div class="form-group">
                                <label>Nombre del equipo:</label>
                                <input class="form-control" name="Nombre" value="@if (Model.id != 0) { @Model.nombre}" />
                            </div>
                            <div class="form-group">
                                <label>Estadio:</label>
                                <input class="form-control" name="Estadio" value="@if (Model.id != 0) { @Model.estadio}" />
                            </div>
                            <div class="form-group">
                                <label>Pais:</label>
                                <input class="form-control" name="Pais" value="@if (Model.id != 0) { @Model.pais}" />
                            </div>
                            <div class="form-group">
                                <label>Entrenador:</label>
                                <input class="form-control" name="Entrenador" value="@if (Model.id != 0) { @Model.entrenador}" />
                            </div>
                            <div class="form-group">
                                <label>Presidente:</label>
                                <input class="form-control" name="Presidente" value="@if (Model.id != 0) { @Model.presidente}" />
                            </div>


                            <button class="btn btn-success" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

