@using OneSoccer.core.Entidades
@model List<Estadistica>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Jugadores</h1>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panle-body">
                        <a href="@Url.Action("Registro","Estadistica", new { id = 0})" class="btn btn-primary">Agregar nuevo</a>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Partidos Jugados</th>
                                    <th>Minutos Jugados</th>
                                    <th>Goles</th>
                                    <th>Asistencias</th>
                                    <th>Tarjeta Amarillas</th>
                                    <th>Tarjetas Rojas</th>
                                    <th>Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Estadistica f in Model)
                                {

                                    <tr>
                                        <td>
                                            @f.partidos
                                        </td>
                                        <td>
                                            @f.MinutosJugados
                                        </td>
                                        <td>
                                            @f.goles
                                        </td>
                                        <td>
                                            @f.asistencias
                                        </td>
                                        <td>
                                            @f.tarjetaAma
                                        </td>
                                        <td>
                                            @f.tarjetasRojas
                                        </td>
                                       

                                        <td>
                                            <a href="@Url.Action("Registro","Jugadores", new { id = f.id})" class="btn btn-primary btn-circle"><i class="fa fa-pencil"></i></a>
                                            <a onclick="eliminar(@f.id)" class="btn btn-danger btn-circle"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                      

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
--